<p>book-ticket!</p>
<div class="row mt-3">
    <div class="col-md-9 mx-auto" *ngFor="let air of AirLines">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{air.flightName}}</h5>
          <label >Price : </label> 
          <label  class="card-text">{{air.ticketCost}}</label>
          <br>
          <a href="User" class="btn btn-primary">Book Ticket</a>
        </div>
        <div class="card-footer text-muted">
          {{air.startDate}}
        </div>
      </div>
    </div>
  </div>
  